/* ADMIN DASHBOARD KAMAR */

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.room-table {
    width: 90%;
    border-collapse: collapse;
    background: #e6e6e6;
}

.room-table th, 
.room-table td {
    padding: 12px 20px;
    border: 1px solid #888;
    text-align: left;
}

.room-table th {
    background: #d0d0d0;
    font-weight: bold;
}
